#h1a {
    font-size: 2rem;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}
.divChart {
    border: 1px;
    border-style: dashed;
    border-color: black;
    
}

.mainDiv {
    display: flex;
    /* overflow: scroll; */
}


.right {
    flex: auto;
   padding-left: 50px;
   padding-right: 50px;
   
}
