.divChart {
    border: 1px;
    border-style: dashed;
    border-color: black;
}

.mainDiv {
    display: flex;
    /* overflow: scroll; */
}

.left {
    flex: auto;
   padding-left: 50px;
   padding-right: 50px;
   
}
